@page "/"

<PageTitle>Index</PageTitle>
<h3><b>Zapoctova prace do predmetu AK2TP</b></h3>
<h4 style="padding-top: 5px">School project for AK2TP course</h4>

<p style="padding-top: 15px; text-align: justify"> V teto zapoctove praci jsem zpracoval program, ktery zvladne vypocitat kontrolni cislici pro 4 ruzne kody. Take umi vytvorit funkcni carovy kod typu EAN13.</p>
<a href="https://github.com/martintvarog/ProjektAK2TP">Zdrojovy kod je k dispozici zde</a>