@page "/"
@using ProjektAK2TP

<PageTitle>Index</PageTitle>

<p style="text-align: center; padding-bottom: 5px">Zadejte 12 cisel pro vypocet kontrolni 13. cislice</p>
<div style="text-align: center; padding-bottom: 5px">
    <input @bind-value="UserInput" @bind-value:event="oninput"/>
</div>

<p style="text-align: center">Zde je vas vygenerovany carovy kod</p>

@if (UserInput.Length == 12)
{
    <div style='text-align: center;'>
        <img alt='Barcode Generator TEC-IT'
             src='https://barcode.tec-it.com/barcode.ashx?data=@UserInput&code=EAN13&translate-esc=true'/>
    </div>
}

<p style="text-align: center">Zadejte 12 cisel pro vypocet kontrolni 13. cislice</p>
<p style="text-align: center"> Pro zadani cisla klinete Enter</p>
<div style="text-align: center; padding-bottom: 5px">
    <input @bind-value="UserInputInt" @bind-value:event="oninput" @onkeydown="CheckInputControlNumber"/>
</div>


<div>
    <p style="text-align: center"> kontrolni cislice pro carovy kod je: @ControlNumber</p>
</div>


@code {

    private string UserInput { get; set; } = String.Empty;
    private string UserInputInt { get; set; } = String.Empty;
    private int ControlNumber;
    private List<int> CodeList = new();


    private void CheckInputControlNumber(KeyboardEventArgs keyEvent)
    {
        if (keyEvent.Key == "Enter")
        {
            AddToList(UserInputInt);
            UserInputInt = string.Empty;
        }
        if (CodeList.Count == 12)
        {
            ControlNumber = GetControlNumberForCode.GetControlNumberForBarcodeUI(CodeList);
            CodeList.Clear();
        }
    }

    private void AddToList(string input)
    {
        for (int i = 0; i < UserInputInt.Length; i++)
        {
            CodeList.Add(Convert.ToInt32(input));
        }
    }

}