@page "/"
@using ProjektAK2TP

<PageTitle>Index</PageTitle>
<h2 style="text-align: center">Zadejte 12 cisel pro vypocet kontrolni 13. cislice</h2>
<div style="text-align: center; padding-bottom: 5px">
    <input @bind-value="UserInput" @bind-value:event="oninput" @onkeydown="CheckInput"/>
</div>

<h2 style="text-align: center">Zde je vas vygenerovany carovy kod</h2>

@if (UserInput.Length == 12)
{
    <div style='text-align: center;'>
        <img alt='Barcode Generator TEC-IT'
             src='https://barcode.tec-it.com/barcode.ashx?data=@UserInput&code=EAN13&translate-esc=true'/>
    </div>
}

<div>
    <p style="text-align: center"> kontrolni cislice pro carovy kod je: @ControlNumber</p>
</div>


@code {

    private string UserInput { get; set; } = String.Empty;
    private int ControlNumber = GetControlNumberForCode.GetControlNumberForBarcodeUI();
    private List<int> codeList = new();
    private bool nevim = false;

    private void CheckInput(KeyboardEventArgs keyEvent)
    {
        if (keyEvent.Key == "Enter")
        {
            AddToList(UserInput);
            UserInput = string.Empty;
        }
    }

    private void AddToList(string input)
    {
        for (int i = 0; i < UserInput.Length; i++)
        {
            codeList.Add(Convert.ToInt32(input.Split("")));
        }
    }

}