@* @using ProjektAK2TP *@
@* @{ *@
@*     GetControlNumberCode controlNumberCode = new(); *@
@*     controlNumberCode.GetBarcodeListFromInput(controlNumberCode.Barcode); *@
@*     controlNumberCode.GetOddAndEvenNumbersFromList(controlNumberCode.Barcode); *@
@*     Console.WriteLine($"Control number is: {controlNumberCode.GetControlNumber()}"); *@
@* } *@
@* *@
@* <div style='text-align: center;'> *@
@*     <!-- insert your custom barcode setting your data in the GET parameter "data" --> *@
@*     <img alt='Barcode Generator TEC-IT' *@
@*          src='https://barcode.tec-it.com/barcode.ashx?data=@controlNumberCode.ToString()'/> *@
@* </div> *@