<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Projekt AK2TP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Uvodni stranka
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barcode">
                <span class="oi oi-code" aria-hidden="true"></span> Čárový kód
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ssn">
                <span class="oi oi-document" aria-hidden="true"></span> Rodne cislo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="traincode">
                <span class="oi oi-cart" aria-hidden="true"></span> Zeleznicni vlak
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="isbn">
                <span class="oi oi-book" aria-hidden="true"></span> ISBN kod
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}